* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0,0,0);
}

.topnav {
    overflow: hidden;
}


    .topnav a {
        float: right;
        display: block;
        color: rgb(0,0,0);
        text-align: center;
        padding: 17px 18px;
        text-decoration: none;
        background-color: rgb(169,169,169);
        font-size: 10px;
    }


        .topnav a:hover {
            background-color: rgb(221, 221, 221);
            color: rgb(0,0,0);
        }


        .topnav a.active {
            background-color: rgb(0,0,0);
            color: rgb(255,255,255);
        }

    .topnav .login-container {
        float: right;
    }

    .topnav input[type=text] {
        padding: 15px;
        font-size: 11px;
        border: none;
        width: 180px;
    }

    .topnav .login-container button {
        float: right;
        padding: 15px;
        background: rgb(221, 221, 221);
        font-size: 11px;
        border: none;
        cursor: pointer;
    }

        .topnav .login-container button:hover {
            background: rgb(204, 204, 204);
        }

.header {
    overflow: hidden;
    background-color: rgb(48, 103, 84);
    padding: 20px 10px;
}

    .header a {
        float: left;
        color: rgb(0,0,0);
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 14px;
        line-height: 25px;
        border-radius: 4px;
        margin-left: 7px;
    }

        .header a.logo {
            font-size: 25px;
            font-weight: bold;
            outline: 2px none rgb(0,0,0);
        }

        .header a:hover {
            background-color: rgb(221, 221, 221);
            color: rgb(0,0,0);
        }

        .header a.active {
            background-color: rgb(47,79,79);
            color: rgb(255,255,255);
        }

.header-right {
    float: right;
}
.navbar {
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}

    .navbar a {
        float: left;
        font-size: 16px;
        color: rgb(255,255,255);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
body {
    background: url(teasales2images/wallpaper.webp) no-repeat center center fixed;
    background-size: cover;
}
.footer {
    width: 100%;
    background-color: rgb(3, 62, 62);
    text-align: center;
    border-top: 2px solid rgb(255, 215, 0);
}
hr {
    height: 5px;
    background-color: rgb(255, 215, 0);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-right: 100px;
    margin-left: 20px;
    width: 80%;
    padding: 8px;
}
td, th {
    text-align: center;
    padding: 8px;
    text-align: center;
}

.footertext {
    color: rgb(255, 255, 255);
}

h3{
    margin-top:20%;
}
p{
    font-size:16px;
}

.salesimages {
    width: 80%;
    display: flex;
    justify-content: center;
    flex: 100%;
}

.box {
    padding: 15px;
    margin-top: 12px;
    margin-left: 100px;
    margin-right: 140px;
    margin-bottom: 12px;
    width:70%;
    box-shadow: 10px 10px 15px rgb(128,128,128);
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: 2px solid rgb(255, 215, 0);
}
.flexcontainer {
    display: flex;
    flex-direction: row;
    font-size: 15px;
}
.item-left {
    padding: 10px;
    flex: 50%;
}

.item-right {
    padding: 10px;
    flex: 50%;
}


.link {
    font-size: 16px;
    margin-left: 100px;
    margin-bottom: 6px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#salesbox {
    background-color: rgb(192, 192, 192);
    border-radius: 25px;
}

.socialmediaicons {
    width: 50%;
    height: 50%;
}

#topofpageicon {
    height: 90px;
    position: fixed;
    margin-left: 1150px;
    bottom: 100px;
}

.mainimage {
    width: 100%;
}

.logo {
    width: 100px;
    height: 100px;
    box-sizing: unset;
}

.fadeinimage {
    animation: fadeIn 10s;
}
    @media screen and (max-width: 426px) {
        .topnav .login-container {
            float: none;
        }

            .topnav a, .topnav input[type=text], .topnav .login-container button {
                float: none;
                display: block;
                text-align: left;
                width: 100%;
                margin: 0;
                padding: 22px;
            }



        .header a {
            float: none;
            display: block;
            text-align: left;
            
        }

        .header-right {
            float: none;
        }

        .topnav input[type=text] {
            display: block;
            width: 200px;
            height: 5px;
            margin-bottom: 7px;
            border-radius: 10px;
        }
            .topnav .login-container button {
            display: block;
            border: none;
            margin-bottom: 7px;
            padding: 12px;
            text-align: center;
            width: 100px;
            border-radius: 10px;
        }

        nav {
            width: 100%;
        }

        header {
            width:100%;
            height: 100%;
        }

        .socialmediaicons {
            width: 120px !important;
        }

        .box {
            margin-left: 12px;
        }

        .flexcontainer {
            flex-direction: column !important;
        }

        .footertext {
            font-size: 10px;
        }


        .footer {
            width: 92%;
            margin-top: 10px;
            padding: 12px;
        }

        p {
            font-size: 12px;
        }

        h3 {
            font-size: 12px;
        }

        .salesimages {
            width: 100%;
            height: 100%;
        }

        .link {
            font-size: 12px;
            margin-left:20px;
        }

        table {
            width: 80%;
        }

        #topofpageicon {
            right: 9px;
            width: 40px !important;
            height: 40px !important;
        }


    }
@media only screen and (min-width: 427px) and (max-width: 1204px) {
    .topnav .login-container {
        float: none;
    }

        .topnav a, .topnav input[type=text], .topnav .login-container button {
            float: none;
            display: block;
            text-align: left;
            width: 10%;
            border-radius: 10px;
            padding: 22px;
            height: 20px;
            margin-bottom: 7px;
        }

    .topnav input[type=text] {
        border: 1px solid #ccc;
        width: 30%;
    }

    .header a {
        float: none;
        display: block;
        text-align: left;
        width: 80%;
        border-radius:15px;
    }

    .header-right {
        float: none;
    }

    #loginbutton {
        width: 20%;
        text-align: center;
    }

    .header a {
        font-size: 17px;
    }

    .link{
        font-size:16px;
    }
    #topofpageicon {
        right: 25px;
    }
}


